* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  font: inherit;
}

input,
img {
  width: 100%;
}

img {
  object-fit: cover;
}

/* Global Styles */

:root {
  --primary: rgb(215, 215, 215);
  --secondary: rgb(0, 0, 0);
  --accent: rgb(70, 70, 70);
  --border: 1.5px solid var(--accent);

  --secondary-opacity-05: rgba(0, 0, 0, 0.5);
}

body {
  font-family: sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main,
footer {
  padding: 1em 2em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--accent);
}

p {
  line-height: 1.5;
}

button {
  background-color: var(--_btn-background, var(--primary));
  color: var(--_btn-color, var(--secondary));
  border: var(--_border, var(--border));

  font-size: 1em;
  padding: 0.8em 2em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  --_btn-background: var(--secondary);
  --_btn-color: var(--primary);
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
}

/* Main Styles */
main {
  flex: 1;
}

.books-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 2em;
}

/* card style */
.book-card {
  border: var(--border);
  display: flex;
  flex-direction: column;
}

.book-card h2 {
  margin-bottom: 0.2em;
}

.book-header img {
  height: 300px;
}

.book-details {
  padding: 1em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  flex: 1;
}

.book-progress {
  margin-top: auto;
}

.book-progress > progress {
  width: 100%;
  height: 0.4em;
  border-radius: 0;
  border: var(--border);
}

.book-progress > progress::-webkit-progress-bar {
  background-color: var(--primary);
}

.book-progress > progress::-webkit-progress-value {
  background-color: var(--secondary);
}

.progress-numbers {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  font-size: 0.8rem;
  margin-top: 0.5em;
}

.book-buttons {
  display: flex;
  gap: 0.5em;
}

.book-buttons > button {
  flex: 1;
}

.delete-btn:hover,
form #cancel-add:hover {
  --_btn-background: var(--primary);
  --_border: 1.5px solid red;
  --_btn-color: red;
}

/* Footer Styles */
footer {
  border-top: var(--border);
  text-align: center;
}

/* new book popup */
#new-book-popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-opacity-05);
}

#new-book-popup .form-container {
  display: flex;
  gap: 2em;
  flex-direction: column;
  width: clamp(100px, 80%, 450px);
  padding: 2em;
  background-color: var(--primary);
  border: var(--border);
  height: 100vh;
}

#new-book-popup form {
  display: flex;
  gap: 1em;
  flex-direction: column;
  flex: 1;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-row > div,
.form-row > button {
  flex: 1;
}

.form-row > div {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

label {
  font-size: 0.8em;
  font-weight: bold;
}

form input {
  padding: 0.6em;
  border: var(--border);
  background: var(--primary);
}

form > div:last-child {
  margin-top: auto;
}

textarea {
  border: none;
  resize: vertical;
  border: var(--border);
  background: var(--primary);
  padding: 0.5em;
  height: 10em;
}

/* Edit Book */
#save-changes {
  display: none;
}
